# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

-ffunction-sections

sig.txt

VentilSteuerung.depend

VentilSteuerung.layout

bin/Release/VentilSteuerung.eep

bin/Release/VentilSteuerung.elf

bin/Release/VentilSteuerung.hex

bin/Release/VentilSteuerung.lock

bin/Release/VentilSteuerung.lss

bin/Release/VentilSteuerung.map

bin/Release/VentilSteuerung.sig

VentilSteuerung.cscope_file_list

*.fuse4
